<% provide(:title, "更新") %>
<h1>更新</h1>


    <% @items.each do |item| %>
      <div class="container">
      <div class ="row">
      <%= form_for(item) do |f| %>
      <div class ="col-sm-1"><%= item.user.name %></div>
      <div class ="col-sm-1">
      <%= f.label :"支払額" %>
      </div>
      <div class ="col-sm-1">
        <%= f.number_field :payment, class: 'form-control',:size=>"20" %>
      </div>
      <div class ="col-sm-1">
        <%= f.submit "変更", class: "btn btn-primary" %>
      </div>
      </div>
      </div>
      <% end %>
    <% end %>

  </div>
